

* {margin:0;padding:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
body {font-family:arial,sans-serif;font-size:12px;background-color:#f5f5f5;}
ul,li {list-style:none;}
a {color:#105cb6;text-decoration:none;}
a:hover {color:red;text-decoration:underline;}


.BL_wrap {}
.BL_content {width:930px;margin:0 auto;}
.BL_header {height:150px;position:relative;}
.BL_header div.hd-menu {position:absolute;left:210px;bottom:25px;}
.BL_header div.hd-menu ul,
.BL_header div.hd-menu ul li,
.BL_header div.hd-menu ul li a {height:18px;line-height:18px;}
.BL_header div.hd-menu ul {overflow:hidden;}
.BL_header div.hd-menu ul li {float:left;margin-right:20px;}
.BL_header div.hd-menu ul li a {font-size:14px;}
.BL_menu {height:35px;border-radius:1px;margin-bottom:35px;background-color:#fff;}
.BL_main {overflow:hidden;}
.BL_primary {float:right;width:720px;}
.BL_sidebar {float:left;width:200px;}


.icon {display:inline-block;background:url("../images/icons.png");}
.icon-recommend {width:18px;height:18px;background-position:615px -60px;}


.box {margin-bottom:10px;}
.box div.bx-title {padding:0 10px;height:25px;border:solid 1px #cfdfff;background-color:#eef6ff;overflow:hidden;}
.box div.bx-title h3,
.box div.bx-title em {line-height:25px;}
.box div.bx-title h3 {float:left;font-size:12px;color:#555;}
.box div.bx-title em {float:right;font-style:normal;}
.box div.bx-body {border:solid 1px #cfdfff;border-top:none;background-color:#fff;}


.post-list ul {padding:0 15px;}
.post-list ul li {padding:20px 0 15px;border-bottom:dashed 1px #ddd;}
.post-list ul li div.pl-title {padding-bottom:10px;}
.post-list ul li div.pl-title strong a {font-size:14px;}
.post-list ul li div.pl-title i.icon {position:relative;left:5px;top:3px;}
.post-list ul li div.pl-description {padding-bottom:10px;}
.post-list ul li div.pl-description p {color:#666;line-height:22px;word-break:break-all;word-wrap:break-word;}
.post-list ul li div.pl-info {overflow:hidden;}
.post-list ul li div.pl-info span a {margin-right:10px;color:#999;}
.post-list ul li div.pl-info em {float:right;}
.post-list ul li div.pl-info em a {font-style:normal;color:#999;}


.post {padding:0 20px;}
.post div.pt-title {margin-bottom:20px;}
.post div.pt-title h1 {font-size:16px;}
.post div.pt-body {font-size:14px;line-height:23px;}
.post div.pt-body p {margin-bottom:20px;}


.widget-list {padding:10px;}
.widget-list ul li {padding-left:10px;height:23px;line-height:23px;background:url("../images/dot.gif") left 10px no-repeat;}
.widget-list ul li em {color:#666;font-style:normal;margin-left:3px;}


.access {/*background:url("../images/access-bg.jpg") center top no-repeat;background-size:cover;*/}
.access-form {width:350px;}
.access-form .input-group-addon {padding:0;}
.access-form .input-group-addon img {width:120px;height:32px;cursor:pointer;border-top-right-radius:4px;border-bottom-right-radius:4px;}